@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Human resource management system</h1>
    <p class="lead">Group demo for Soft Serve Academy</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Employees management", "Index", "Employees", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Teams management", "Index", "Teams", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Projects management", "Index", "Projects", null, new { @class = "btn btn-default" })
    </div>
</div>